*{
    margin: 0;
    padding: 0px;
}
html{
    font-size: 15px;
}

body {
    margin: auto;
   width: 100%;
    max-width: 1400px;
    align-items: center;
    display: flex;
    flex-direction: column;
}